<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="item" name="item" schema="schema/item.exsd"/>
   <extension
         point="com.googlecode.t4eclipse.item">
      <Item
            class="com.googlecode.t4eclipse.ToolPageContent1"
            id="root1"
            label="root1">
      </Item>
      <Item
            class="com.googlecode.t4eclipse.ToolPageContent1"
            id="root2"
            label="root2">
      </Item>
      <Item
            class="com.googlecode.t4eclipse.ToolPageContent1"
            id="root3"
            label="root3">
      </Item>
      <Item
            class="com.googlecode.t4eclipse.ToolPageContent1"
            id="sub1"
            label="sub1"
            pid="root1">
      </Item>
      <Item
            class="com.googlecode.t4eclipse.ToolPageContent1"
            id="sub2"
            label="sub2"
            pid="root1">
      </Item>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.googlecode.t4eclipse.view.T4EclipseContentView"
            id="com.googlecode.t4eclipse.contentview"
            name="T4Eclipse"
            restorable="true">
      </view>
   </extension>

</plugin>
