#sp.uselocal property defines whether project scope settings will be used.
#by default false,only workspace global settings will be used.
#if project's scope configuration need to be used, put this file named "sp.config" under
#project's home dir and uncomment "sp.uselocal" to true. 
#sp.uselocal=true

#log only classes with name specified in the following property.Seperated using","
#"*" can be used at start and end, and using the full class name. 
#sp.classname.include=

#not to log classes with name specified in the following property. 
#sp.classname.exclude=

#log only method with name specified with the following property.Seperated using ","
#"*" can be used at start and end, only method names is used, can not specify parameters
#and return value
#sp.methodname.include=

#not to log method name specified in the following property.
#sp.methodname.exclude=
