<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.demo.jface.databining.view.DatabiningView"
            id="com.demo.jface.databining.view1"
            name="DataBining"
            restorable="true">
      </view>
      <view
            class="com.demo.jface.databining.view.ListBinding"
            id="com.demo.jface.databining.listbiding"
            name="ListBiding"
            restorable="true">
      </view>
      <view
            class="com.demo.jface.databining.view.pojo.PojoView"
            id="com.demo.jface.databining.pojoview"
            name="PojoView"
            restorable="true">
      </view>
   </extension>

</plugin>
