<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MyEditor"
            icon="icons/sample.gif"
            extensions="myfile"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="com.myeditor.MyTextEditor"
            id="org.eclipse.ui.editors.text.myEditor">
      </editor>
   </extension>

</plugin>
