<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.googlecode.simpleprofiler.instrumentjavaproject"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="com.googlecode.simpleprofiler.action.InstrumentProjectAction"
               enablesFor="*"
               id="com.googlecode.simpleprofiler.instrumentaction"
               label="Instrument"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
