#sp.uselocal property defines whether instrument this project 
#use local configuration, "sp.config" under project home dir.
#by default true, set it to false if your don't want to use it. 
#sp.uselocal=false
#sp.classname.include=
#sp.classname.exclude=
#sp.methodname.include=
#sp.methodname.exclude=







